.arrow-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow-btn {
  font-size: 30px;
  background: #2563eb;
  color: white;
  border: none;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  cursor: pointer;
}
.arrow-btn:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}
